<div class="content">
  <h2>{{ title }} Me</h2>
  <div class="contact-me-container" fxLayout="column">
    <div class="input-row">
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Name">
      </mat-form-field>
    </div>
    <div class="input-row" >
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Email Address">
      </mat-form-field>
    </div>
    <div class="input-row" >
      <mat-form-field fxFlex="100%">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>
    </div>
    <div class="input-row">
      <button mat-stroked-button>Send!</button>
    </div>
  </div>
</div>
