<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="icon" type="image/x-icon" href="./assets/images/mandala.svg" />
    <title>Tori Rojas - {{ title }} </title>

  </head>
  <body>
    <div fxLayout="column"> 
      <app-nav-bar></app-nav-bar>
      <div class="row"> 
        <div class="mandala-container" fxLayoutAlign="center center">
          <img class="mandala-img" [@rotatedState]='state' src="../../../assets/images/mandala-bg-dark.png" >
        </div>
        <app-home></app-home>
      </div>
      <app-footer></app-footer>
    </div>

  </body>
</html>