@import '~@angular/material/theming';

//============== COLORS ================//

$color__toolbar-border: 	    transparent;
$color__toolbar-background: 	transparent;
$color__toolbar-text:           #404040;
$color__card-background:        transparent;
$color__page-background:        #ebf9ff;
// #ebf9ff;
a{
    cursor: pointer;
    padding: 0px 10px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-attachment: fixed;
    background-color: $color__page-background;
    mat-toolbar {
        min-height: 35px;
        max-height: 35px;
        min-width: 100%;
        max-width: 100%;
        background-color: $color__toolbar-background;
        color: $color__toolbar-text;
        opacity: 0.75;
        display: flex;
        align-items: center;
        position: relative;
        &.main-nav-bar {
            border-bottom: 0.5px solid $color__toolbar-border;
            h4 {
                margin: 0;
            }
        }
        &.main-footer {
            position: fixed;
            bottom: 0px;
            border-top: 0.5px solid $color__toolbar-border;
        }
    }
    .home-container {
        margin-top: 20px;
        background-color: $color__card-background;
        position: absolute;
        top: 0;
        .home-header {
            h2 { 
                font-size: 60px;
                margin-top: 0;
            }
            h4 {
                font-size: 30px;
            }

        }
        .home-content {
            p {
                font-size: 24px;
            }
        }
        &.left-aligned {
            margin-left: 60px;
            left: 0;
        }
        &.right-aligned {
            margin-right: 60px;
            right: 0;
        }
    }
    .mandala-container {
        border: 0 !important;
        .mandala-img {
            height: 640px;
            width: 640px;
        }
    }
    .about-me-container {
        background-color: $color__card-background;
    }
}


