@import '~@angular/material/theming';

//============== COLORS ================//

$color__toolbar-border: 	    #990000;
$color__toolbar-background: 	#fff;
$color__toolbar-text:           #404040;
$color__card-background:        #fff;
$color__page-background:        #D6F1F0;


body {
    margin: 0;
    font-family: "Quattrocento Sans", Helvetica, sans-serif;
    background-attachment: fixed;
    background-position: right bottom;
    background-image: url("assets/images/mandala-bg.png");
    background-repeat: no-repeat;
    background-size: 342px 375px;
    background-color: $color__page-background;
    mat-toolbar {
        min-height: 35px;
        max-height: 35px;
        min-width: 100%;
        max-width: 100%;
        background-color: $color__toolbar-background;
        color: $color__toolbar-text;
        opacity: 0.75;
        display: flex;
        align-items: center;
        position: relative;
        &.main-nav-bar {
            border-bottom: 0.5px solid $color__toolbar-border;
            h4 {
                margin: 0;
            }
        }
        &.main-footer {
            position: fixed;
            bottom: 0px;
            border-top: 0.5px solid $color__toolbar-border;
        }
    }
    .main-container {
        margin-top: 20px;
        width: 75%;
        background-color: $color__card-background;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.75;
        border: 0.5px solid $color__toolbar-border;
    }
}


